@import '../../../app.scss';

.separatorB {
    width: 100%;
    height: 50vh;
    background-image: url('../../../../public/fantasia2.png');
    background-size: cover;
    background-position: bottom;
}
 